.bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 12px;
}
html[dir='rtl'] .bullet {
  margin-left: 12px;
  margin-right: 0;
}
.primary {
  background: #2D3142;
  color: #fff;
}
.secondary {
  background: #6B7280;
  color: #fff;
}
.success {
  background: #22C55E;
  color: #fff;
}
.info {
  background: #3B82F6;
  color: #fff;
}
.warning {
  background: #F59E0B;
  color: #fff;
}
